.sequence {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  -webkit-user-select: none;
  outline: none;

  &__nodes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
  }

  &__node {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: cyan;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
    box-shadow: 0 0 10px cyan;

    &--stabilized {
      background-color: green;
    }
    &--active {
      background-color: red;
      box-shadow: 0 0 15px red; 
    }
  }

&__text {
  color: white;
}
}
