@use "./../../styles/partials/variables" as *;
@use "./../../styles/partials/mixins" as *;

.wall-of-fame {
  padding-top: 2rem;
  width: 100%;
  height: calc(100vh - 11rem);
  overflow-y: scroll;
  @include no-scrollbar;
  @include flex-full(column, flex-start, center);

  @include tablet {
    height: auto;
    justify-content: center;
  }

  &__entries {
    padding-top: 2rem;
    gap: 2rem;
    width: 90%;
    @include flex-orientation(column, space-between);

    @include tablet {
    }

    @include tablet {
      width: 80%;
    }
  }

  &__entry {
    @include flex-orientation(column, space-between);
    gap: 1rem;

    @include tablet {
      flex-direction: row;
      gap: 0;
    }
  }

  &__name {
    color: $solved-color;
  }
}
