@use "./../../styles/partials/variables" as *;
@use "./../../styles/partials/mixins" as *;

.wall-of-fame {
    padding-top: 2rem;
    width: 100%;
    @include flex-full(column, center, center);

    &__entries {
        padding-top: 2rem;
        width: 80%;
        gap: 2rem;
        @include flex-orientation(column, space-between);
    }

    &__entry {
        @include flex-orientation(row, space-between);
    }
    
    &__name {
        color: $solved-color;
    }
}