.page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none; 
    &::-webkit-scrollbar {
        display: none;
    }

    &--scrollable {
        justify-content: flex-start;
    }

    &__text {
        color: white;
        padding-top: 1rem;
        text-indent: 1rem;
        font-size: 1.5rem;
        user-select: none; 
        -webkit-user-select: none;
        outline: none;
        // line-height: 2rem;

        &--solved {
            color: rgb(0, 192, 128);
            animation: fadeIn 0.2s ease-in forwards;
        }
    }

    &__prompt {
        color: white;
        margin-top: 2rem;
        // margin-bottom: 2rem;
        font-size: 1.25rem;
        font-weight: bold;
        user-select: none;
        -webkit-user-select: none; 
        outline: none;
    }

    &__choices {
        padding-top: 2rem;
        font-size: 1.5rem;
        color: rgb(156, 156, 156);
        user-select: none;
        -webkit-user-select: none;
        outline: none;
        // color: blue;
        cursor: pointer;

        &:hover {
            font-weight: bold;;
            color: rgb(206, 175, 0);
        }

        &--solved {
            color: rgb(0, 192, 128);
            animation: fadeIn 0.2s ease-in forwards;
        }
    }

}

.choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.puzzle {
    margin: 2rem 0;
    width: 100%;
}

.paper {
    padding: 1rem;
        border: .125rem solid rgb(209, 197, 157);
        width: 30%;
        display: flex;
        align-content: center;
        justify-content: flex-start;
        background-color: #F3E0C2;
        font-family: "Lucida Handwriting", cursive;
        user-select:auto; 
        -webkit-user-select: auto;
   cursor: text;

        &__secret {
    color: #F3E0C2;
    margin-left: 1rem;
    font-family: "Lucida Handwriting", cursive;
        }
  
}

.form {
    width: 30%;
}

.speak {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.speak-button {
    width: 12rem;
    padding: 1rem 0;
    &:not(.speak-button--disabled):hover  {
        background-color: rgb(206, 175, 0);
    }
  
}

.input {
    width: 100%;
    padding: 1rem;
    outline: none;
}

.name {
    padding-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__input {
        width: 20rem;
        padding: 1rem;
        outline: none;
    }

    &__button {
        margin-top: 1rem;
        width: 7rem;
        padding: 0.75rem;
        text-transform: uppercase;
        font-weight: bold;
        background-color: white;

        &:hover {
            background-color: rgb(206, 175, 0);
        }
    }
}

::selection {
    // background-color: rgba(245, 225, 184, 0.8); 
    background-color: #F3E0C2;
    color: #000;
  }

  @keyframes fadeIn {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1; 
    }
}

// .maze {
//     width: 100%;
// }