.title-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
 user-select: none;
 -webkit-user-select: none;
 outline: none;
}

.text {
    padding-top: 10rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    width: 100%;
  }

  .paragraph {
    margin-bottom: 2rem;
  }
  
  .options {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 2rem;
  
    &__text {
        color: rgb(156, 156, 156);
      &:hover {
        font-weight: bold;
        color: rgb(206, 175, 0);
        cursor: pointer;
      }
    }
  
  }