@use "./../../styles/partials/variables" as *;
@use "./../../styles/partials/mixins" as *;

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-y: scroll;
  @include no-scrollbar;

  &--scrollable {
    justify-content: flex-start;
  }

  &__story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__text {
    color: white;
    padding-top: 1.25rem;
    text-indent: 1rem;
    font-size: 1rem;
    line-height: 1.25rem;

    @include tablet {
      font-size: 1.5rem;
      line-height: 1.85rem;
    }

    &--solved {
      color: rgb(0, 192, 128);
      animation: fadeIn 0.2s ease-in forwards;
      text-indent: 0;
    }
  }

  &__riddle {
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-family: "Caveat";
    text-align: center;

    @include tablet {
      font-size: 2rem;
    }
  }

  &__prompt {
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: bold;
    @include flex-full(column, center, center);

    @include tablet {
      font-size: 1.25rem;
    }
  }

  &__choices {
    width: 100%;
    gap: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    @include flex-full(column, center, center);
  }

  &__choice {
    color: $medium-color;
    line-height: 1.25rem;

    @include tablet {
      line-height: 1.85rem;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: $hover-color;
      }
    }

    @media (hover: none) and (pointer: coarse) {
      &:active {
        color: $hover-color;
      }
    }

    &--solved {
      color: rgb(0, 192, 128);
      animation: fadeIn 0.2s ease-in forwards;
    }
  }

  // maybe change to prompt
  &__result {
    text-align: center;
    line-height: 1.5rem;
    margin-top: 2rem;
    font-weight: bold;
  }
}

// interactive
.paper {
  padding: 0.5rem 1rem;
  border: 0.125rem outset $paper-color;
  background-color: $paper-color;
  color: $darkest-color;
  cursor: text;
  @include flex-position(flex-start, center);
  @include puzzle;

  &::selection {
    background-color: $paper-color;
    color: $darkest-color;
  }

  &__text {
    @include handwriting;
  }

  &__secret {
    color: $paper-color;
    margin-left: 1rem;
    @include handwriting;
  }
}

.dice {
  @include puzzle;
}

.sequence {
  @include puzzle;
}

.cubic {
  margin-bottom: 1rem;
  margin-top: 2rem;
  width: 100%;
  @include flex-full(column, center, center);

  &__input {
    width: 13.5rem;
    padding: 1rem;
    outline: none;

    @include tablet {
      width: 16.5rem;
    }
  }
}

.slide {
  @include puzzle;
}

.light {
  width: 100%;
  @include puzzle;
}

.rune {
  width: 30%;
  gap: 1rem;
  @include flex-alignment(column, center);

  &__image {
    margin-top: 1rem;
    width: 10rem;
  }

  &__input {
    width: 13rem;
    padding: 0.75rem 1rem;
    margin: 1rem;
    outline: none;

    @include tablet {
      width: 16.5rem;
    }
  }
}

.speak {
  @include flex-full(column, center, center);
  @include puzzle;

  &__button {
    width: 9rem;

    &:disabled {
      background-color: $medium-color;
    }
  }
}

.name {
  padding-top: 2rem;
  width: 100%;
  @include flex-full(column, center, center);

  &__input {
    width: 17rem;
    padding: 1rem;
    outline: none;

    @include tablet {
      width: 21.5rem;
    }
  }

  &__button {
    margin-top: 1rem;
    width: 7rem;
    padding: 0.75rem;
    background-color: $light-color;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: $hover-color;
      }
    }

    @media (hover: none) and (pointer: coarse) {
      &:active {
        background-color: $hover-color;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.keyword {
  color: $solved-color;
  // font-weight: bold;
}