@use "./variables" as *;
@use "./mixins" as *;
@use "./typography";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    text-decoration: none;
     // scrollbar-gutter: stable both-edges;
    // overflow:hidden;
  }
  
body {
    color: $text-color;
    background-color: black;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

a {
    color: $alt-text-color;
    font-size: 1.5rem; 
    cursor: pointer; 
    &:hover {
        font-weight: bold;
        color: $hover-color;
    }
}