@use "./variables" as *;
@use "./mixins" as *;
@use "./typography";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
  text-decoration: none;
  // scrollbar-gutter: stable both-edges;
  // overflow:hidden;
}

button {
  text-transform: uppercase;
  font-weight: bold;
}

body {
  color: $light-color;
  background-color: $dark-color;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

a {
  color: $medium-color;
  font-size: 1.5rem;
  cursor: pointer;
  &:hover {
    font-weight: bold;
    color: $hover-color;
  }
}
