// colours
$background-color: #0000;
$text-color: #FFFF;
$alt-text-color: #9C9C9C;
$solved-color: #00C080;
$hover-color: #DAA520;

// breakpoints
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;