// colours
$light-color: #FFFF;
$medium-color: #9C9C9C;
$medium-dark-color: #808080;
$dark-color: #333;
$darker-color: #4B4A4A;
$darkest-color: #000000;

$solved-color: #00C080;
$hover-color: #DAA520;
$paper-color: #f3e0c2;
$active-color:#F44336;
$bright-color: #00FFFF;

// breakpoints
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;