@use "./../../styles/partials/variables" as *;
@use "./../../styles/partials/mixins" as *;

.title-page {
  height: 100%;
  text-align: center;
  @include flex-full(column, center, center);

  &__header {
    width: 100%;
    padding-top: 10rem;
    @include flex-full(column, center, center);
  }

  &__intro {
    margin-bottom: 2rem;
  }

  &__link {
    padding-top: 2rem;
    @include flex-position(center, center);
  }

  &__text {
    &:hover {
      color: $hover-color;
    }
  }
}