@use "./../../styles/partials/variables" as *;
@use "./../../styles/partials/mixins" as *;

.scroll {
  position: fixed;
  bottom: 4.25rem;
  left: 50%;
  transform: translateX(-50%);
  width: 6rem;
  height: 2.8125rem;
  opacity: 0.8;
  pointer-events: none;
  @include flex-position(center, center);

  @include tablet {
      bottom: 6.25rem;
  }

  &__indicator {
    width: fit-content;
    text-transform: uppercase;
    color: $light-color;
    font-size: 0.625rem;
    font-weight: bold;
    animation: bounce 1.5s infinite;
    @include flex-full(column, center, center);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}
