.wall-of-fame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    width: 100%;

    &__title {
        color: white;
    }

    &__entries {
        padding-top: 2rem;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-direction: column;
        gap: 2rem;
    }

    &__entry {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    &__name {
        color: rgb(206, 175, 0);
    }

    &__accomplishment {
        color: white;
    }
}