@use "./styles/partials/global";
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

.main {
  height: calc(100vh - 11rem);
  width: 60%;
  @include flex-alignment(column, center);
  // overflow-y: scroll;
}

.screen {
  @include flex-full(column, center, center);
}

.torch {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3.75rem;
  height: 3.75rem;
  background-color: rgba(255, 255, 255, 0.4);
  clip-path: polygon(50% 0%, 40% 30%, 38% 55%, 50% 75%, 62% 55%, 60% 30%);
  animation: flickerEffect 1.5s infinite alternate;
  z-index: 2;

  &--left {
      left: 10%;
  }

  &--right {
      right: 10%;
  }
}

@keyframes flickerEffect {
  0% {
      background-color: rgba(255, 255, 255, 0.5);
      box-shadow: 0 0 30px rgba(255, 255, 255, 0.5), 0 0 60px rgba(255, 255, 255, 0.3);
  }

  25% {
      background-color: rgba(220, 220, 220, 0.6);
      box-shadow: 0 0 45px rgba(255, 255, 255, 0.6), 0 0 80px rgba(255, 255, 255, 0.4);
      clip-path: polygon(55% 0%, 40% 30%, 38% 55%, 50% 75%, 62% 55%, 60% 30%);
  }

  50% {
      background-color: rgba(200, 200, 200, 0.4);
      box-shadow: 0 0 25px rgba(255, 255, 255, 0.4), 0 0 40px rgba(255, 255, 255, 0.2);
  }

  75% {
      background-color: rgba(220, 220, 220, 0.7);
      box-shadow: 0 0 50px rgba(255, 255, 255, 0.7), 0 0 100px rgba(255, 255, 255, 0.5);
      clip-path: polygon(45% 0%, 40% 30%, 38% 55%, 50% 75%, 62% 55%, 60% 30%);
  }

  100% {
      background-color: rgba(255, 255, 255, 0.5);
      box-shadow: 0 0 30px rgba(255, 255, 255, 0.5), 0 0 60px rgba(255, 255, 255, 0.3);
  }
}
